:root {
  --primary-color: hsl(210, 50%, 50%);
  --secondary-color: hsl(230, 50%, 70%);
}

a button {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  padding: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem;
}

.asPopOut { 
  background: none;
  color: #333;
  position: relative;
  transition: color 0.233s ease-in;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--secondary-color);
    transition: transform 0.233s ease-in;
    transform-origin: center bottom;
    transform: scaleY(0);
  }
  &:hover{
    color: white;
    &::before { transform: scaleY(1); }
  }
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


.accordion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(black, 0.8);
  opacity: 0;
  transform: translateX(-110vw);
  transition: transform 0.367s ease-in;
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}

.accordion-popout-container {
  position: relative;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
}

.closePopOut {
  color: white;
  font-size: 2.5rem;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 9;
}

.accordion-overlay .accordion-popout-container .slide-loader {
  display: none;
}
